# Node modules
node_modules/

# Environment variables
.env

# Auth data & sessions
auth_info/
auth_info_qr/
sessions/
creds.json

# Logs
logs/
*.log
npm-debug.log*

# Temporary files
temp/
tmp/

# OS specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Dependencies
package-lock.json
yarn.lock

# Build files
dist/
build/
.build/

# Cache
.cache/